# Minishell config file

# minishell dir path
minishell_path=../minishell

# minishell executable
minishell_exec=minishell

# lorem (long text) path
lorem_path=lorem.txt

# path to reference shell (shell which will be compared minishell)
# has to support the -c option (sh, bash and zsh support it)
reference_shell_path=/bin/bash

# string marker which show the test result
pass_marker=.
fail_marker=!

# log file path
log_file=result.log

# path to the sandbox directory
sandbox_path=sandbox
